<div class="container">
    <h1>New Game</h1>
    <div class="grid-container">
        <% @letters.each do |letter| %>
            <div class="grid-item"><%= letter %></div>
        <% end %>
    </div>
    <form method='POST' action='score'>
        <label>What is the longest word you can find?</label>
        <%= hidden_field_tag :letters, @letters %>
        <input class='input-words' type="text" name='word'>
        <input class='input-btn' type="submit" value='Write!'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
</div>