// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    box-sizing:border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.grid-container {
    display: flex;
    grid-column-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;

  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s
  }

  form {
      margin-top: 30px;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
  }

  .input-words {
    padding: 8px 50px;
    border: 2px solid #eee;
    border-radius: 10px;
    margin-right: 10px;
  }

  .input-btn {
    background-color: black;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
  }